<section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ page.title }}</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <!-- This loops through the paginated posts -->
                   <article class="post">
                        <h1 class="title"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h1>

                        <h4>published <date>{{ page.date | date_to_string }}</date></h4>

                        <div class="entry">
                            {{ content }}
                        </div>

                    </article>

                {% include disqus.html %}

            </div>
        </div>
    </section>